@font-face {
  font-family: 'LUMOS';
  src: local('LUMOS'), url(./styles/fonts/LUMOS.TTF) format('truetype');
}
body {
  margin: 0;
  font-family: 'LUMOS';
}
button {
  font-family: 'LUMOS';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
